
.lesson-image {
  max-width: 650px;
  margin-bottom: 10px;
}
.lesson-order {
  margin-top: 10px;
}
.lesson-title {
  margin-bottom: 20px;
}
.videoPlay {
  max-width: 900px;
  position: relative;
  cursor: pointer;
}
.video {
  max-width: 900px;
  position: relative;
}
.Picture-in-Picture {
  border: 1px solid #000;
  border-radius: 2px;
}
.PictureInPicture {
  vertical-align: sub;
  margin-left: 10px;
  cursor: pointer;
  path {
    fill:#000
  }
}