.preview-video {
  object-fit: fill;
}
.preview-image, .preview-video {
  text-align: center;
  width: 450px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .preview-video, .preview-image{
    width: 100%;
    max-width: 300px;

  }

}